.navbar a{
    color: var(--color-white) !important;
}
.navbar form{
    flex: 1;
    border-radius: 3px ;
    overflow: hidden;
}
.navbar .search {
    border: none;
}
.navbar .search:focus {
    outline: none ;
}
.navbar .search::placeholder {
    font-size: 15px;
}
.navbar .btn-search{
    background: var(--color-gold);
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: var(--color-white); */
    padding: 0px 10px;
    border: none;
}
.navbar ul {
    margin: 0px;
}
.navbar .cart{
    color: var(--color-gold);
}
.navbar ul .nav-item span{
    font-size: 10px;
    letter-spacing: 2px;
}
.navbar .cart-length{
    top: -10px;
    right: -10px;
    width: 30px;
    background: var(--color-gold);
    border-radius: 20px;
}
.navbar .cart-length span{
    font-weight: 600 !important;
    font-size: 14px !important;
}
.navbar>.container-fluid{
    /* flex-wrap: nowrap !important; */
}

@media (min-width:768px) {
    .navbar ul .nav-item span{
        font-size: 12spx;
        letter-spacing: 3px;
    }
}
@media (max-width:992px){
    .navbar .nav-bar-sm-screen{
        width: 100%;
    }
    
}
@media (min-width:992px){
    .navbar .cart-length{
        top: 3px;
        right: 60px;
        width: 15px;
        height: 15px;
        background: var(--color-gold);
        border-radius: 20px;
    }
    .navbar .cart-length span{
        font-weight: 500 !important;
        font-size: 10px !important;
    }
}