:root{
    --color-black:#131921;
    --color-white:#ffffff;
    --color-gold:#febd69;
    --color-blue-900:#232f3e;
    --color-orainge:#bf4800;
    --color-red:#E2434B;
    --color-gray:#f5f5f7;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
ul{
    padding: 0px !important;
}
.center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-none{
    border: none !important;
}
ul{
    list-style: none;
    margin: 0px !important;
}
.TitleHead h4{
    color: var(--color-blue-900);
}
.spinner{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.star {
    color: var(--color-gold);
}
.empty-star {
    color: #00000023;
}
.font-semibold{
    font-weight:500!important ;
}
.border-t{
    border-top : solid 1px #0000002a !important;
}
.border-b{
    border-bottom : solid 1px #0000002a !important;
}
.border-s{
    border-right : solid 1px #0000002a !important;
}
.border-e{
    border-left : solid 1px #0000002a !important;
}
.outline-none{
    outline: none !important;
}
.resize-none{
    resize: none;
}
.bg-gold{
    background: var(--color-gold) !important;
}
.cursor-pointer{
    cursor: pointer !important;
}