@media (min-width:992px) {
    .features .row>*{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .features .productFeatures .row .col-lg-2 {
        width: 15.96% !important;
    }
    
}