.cart-page{
    background: var(--color-gray);
}
.cart-page .empty-cart img{
    height: 100vh;
    width: 100vw;
    object-fit: contain;
}
.cart-page .cart-product .title{
    border-bottom: 1px #00000038 solid;
    margin-bottom: 12px;
}
.cart-page .cart-product .btn{
    color: #0000ffd3;
    font-weight: 500;
}
@media  (max-width :576px){
    .cart-page .cart-product img{
        height: 50vh !important;
        width: 50vw !important;
        object-fit: contain;
    }
}